<style>
    table {
        border-collapse: collapse;
    }
    td {
        border-right: solid 1px white;
        border-bottom: solid 0px;
    }

</style>

<table style="width: 6%">
    <tr>
        <td><a href="{{ site.baseurl }}/signup">Sign Up</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}">Home</a></td>
    </tr>
    <tr>
        <td>
            <ul> 
                <li><a href="#">FRQs</a> 
                    <ul> 
                    <li><a href="#">Person</a></li> 
                    <li><a href="#">Calculator</a</li> 
                    <li><a href="https://hetvit27.github.io/team9trimester2/lightboard">Lightboard</a></li>
                      <li><a href="https://hetvit27.github.io/team9trimester2/calendar">Calendar</a></li>
                </ul>
        </td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/equations">Equations</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/discussion">Discussion Board</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/calendar">Calendar</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/Person">Person</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/Calculator">Calculator</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/lightboard">Lightboard</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/tutor">Find a Tutor</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/practice">Practice Problems</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/ideation">Ideation</a></td>
    </tr>
</table>


<style>
    ul {
 margin: 0;
 padding: 0;
 list-style: none;
 width: 150px;
 }

ul li {
 position: relative;
 }

li ul {
 position: absolute;
 left: 149px;
 top: 0;
 display: none;
 }

li:hover ul { display: block; }

li:hover ul, li.over ul { 
 display: block; }

ul {
 margin: 0;
 padding: 0;
 list-style: none;
 width: 150px;
 border-bottom: 0px solid #ccc;
 }

ul li a {
 display: block;
 text-decoration: none;
 color: #777;
 background: #121212;
 padding: 5px;
 border-right: 1px solid white;
 border-bottom: 0;
 }
</style>
