<style>
    table {
        border-collapse: collapse;
    }
    td {
        border-right: solid 2px white;
        border-bottom: solid 0px;
    }

</style>

<table style="width: 6%">
    <tr>
        <td><a href="{{ site.baseurl }}/signup">Sign Up</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}">Home</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/equations">Equations</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/leaderboard">Leaderboard</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/discussion">Discussion Board</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/tutor">Find a Tutor</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/practice">Practice Problems</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/ideation">Ideation</a></td>
    </tr>
    <tr>
        <td>
            <ul> 
                <li><a href="#">Databases</a> 
                    <ul> 
                    <li><a href="{{ site.baseurl }}/accounts">Accounts</a></li> 
                </ul>
        </td>
    </tr>
</table>


<style>
ul {
 margin: 0;
 padding: 0;
 list-style: none;
 width: 150px;
 }

ul li {
 position: relative;
 }

li ul {
 position: relative;
 left: 110px;
 top: 0;
 display: none;
 }

li:hover ul { display: block; }

li:hover ul, li.over ul { 
 display: block; }

ul {
background-color: #e2f2d1;
 margin: 0;
 padding: 0;
 list-style: none;
 width: 150px;
 border: 0px;
 }

ul li a {
 display: block;
 text-decoration: none;
 color: #257cb9;
 padding: 0px;
 border: 0px solid #ccc;
 }
</style>


<script>
    startList = function() {
if (document.all&&document;.getElementById) {
navRoot = document.getElementById("nav");
for (i=0; i<navroot.childnodes.length; i++)="" {="" node="navRoot.childNodes<i">;
if (node.nodeName=="LI") {
node.onmouseover=function() {
this.className+=" over";
  }
  node.onmouseout=function() {
  this.className=this.className.replace»
 (" over", "");
   }
   }
  }
 }
}
window.onload=startList;
</navroot.childnodes.length;>
</script>