<style>
    table {
        border-collapse: collapse;
    }
    td {
        border-right: solid 1px white;
        border-bottom: solid 0px;
    }
</style>

<table style="width: 6%">
    <tr>
        <td><a href="{{ site.baseurl }}">Home</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/calendar">Calendar</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/Person">Person</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/Calculator">Calculator</a></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/lightboard">Lightboard</a></td>
    </tr>
</table>
