<nav class="navbar navbar-expand-lg navbar-vertical navbar-light  bg-light border-right p-4 border" id="sidebarNav">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-content-stretch flex-wrap" id="navbarSupportedContent">
       <ul class="navbar-nav flex-column w-100">
          <li class="nav-item active">
             <a class="nav-link" href="#" data-toggle="collapse" data-target="#navDashboard" aria-expanded="false" aria-controls="navDashboard" >
                <i class="fas fa-home mr-2"></i>Dashboard   
                <span class="d-block ml-auto">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                      <polyline points="6 9 12 15 18 9"></polyline>
                   </svg>
                </span>
             </a>
             <div id="navDashboard" class="collapse" data-parent="#sidebarNav">
                <ul class="nav flex-column">
                   <li class="nav-item">
                      <a class="nav-link" href="#">Default</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">CMS</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                   </li>
                </ul>
             </div>
          </li>
          <div class="dropdown-divider"></div>
          <span class="navHeading">Pages</span>
          <!-- Second Li Start-->
          <li class="nav-item">
             <a class="nav-link" href="#" data-toggle="collapse" data-target="#navPages" aria-expanded="false" aria-controls="navPages" >
                <i class="fas fa-home mr-2"></i>Pages   
                <span class="d-block ml-auto">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                      <polyline points="6 9 12 15 18 9"></polyline>
                   </svg>
                </span>
             </a>
             <div id="navPages" class="collapse" data-parent="#sidebarNav">
                <ul class="nav flex-column">
                   <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="collapse" data-target="#navPagesSub" aria-expanded="false" aria-controls="navPagesSub" >
                         <i class="fas fa-user mr-2"></i>Profile   
                         <span class="d-block ml-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                               <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                         </span>
                      </a>
                      <div class="collapse"  id="navPagesSub">
                         <ul class="nav  flex-column navPagesSub">
                            <li class="nav-item">
                               <a class="nav-link" href="#" data-toggle="collapse" data-target="#navPagesSub2" aria-expanded="false" aria-controls="navPagesSub2" >
                         <i class="fas fa-user mr-2"></i>Default Item   
                         <span class="d-block ml-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                               <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                         </span>
                      </a>
                              <div class="collapse"  id="navPagesSub2">
                         <ul class="nav  flex-column">
                            
                            <li class="nav-item">
                               <a class="nav-link" href="#">CMS</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                         </ul>
                      </div>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="#">CMS</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                         </ul>
                      </div>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">CMS</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                   </li>
                </ul>
             </div>
          </li><!-- Second Li Close-->
         
          
       </ul>
       
    </div>
 </nav>

 
 <style>

body{font-size:14px;}

.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link {
   
}
 

/** sidebar width*/
.navbar-vertical.navbar-expand-lg {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 350px;
   overflow-y: auto;
}
 

.navbar-vertical .navbar-nav .nav-link {
    display: flex;
    align-items: center;
   
}

 .navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link {
    padding-left: 2.25rem;
}

.navHeading {
    padding-left: 0.35rem;
}
.navPagesSub .nav-item .nav-link {
    padding-left: 3.25rem!important;
}

 </style>