---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }


  #20font {
    font-size: 50px;
  }


body {
  background-color: #e2f2d1;
  color: #650f84;
}

p {
  color: #650f84;
}
div {
  color: #650f84;
}

h2 {
  color: black;
}
h1 {
  color: black;
}
h3 {
  color: black;
}
h4 {
  color: black;
}
h5 {
  color: black;
}
h6 {
  color: black;
}
th {
  color: black;
}

.blacktext {
	color: black;
}
