---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }


body {
  background-color: #121212;
  color: rgb(201, 199, 199);
}

h2 {
  color: rgb(255, 255, 255);
}